*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor
{
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 'columna1 columna2 menulat'
                         'piepag piepag menulat'
                         ;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
}

.caja
{
    background-color: purple;
    text-align: center;
    align-content: center;
    align-items: center;
    border: 20px solid black;
}

@media screen and (max-width:900px) {
    .contenedor
    {
        grid-template-columns: 60% 40%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas: 'columna1 menulat'
                         'columna2 menulat'
                         'piepag menulat';
    }
}

#caja1 {grid-area: menulat;}
#caja2{ grid-area: piepag;}
#caja3 {grid-area: columna1;}
#caja4{grid-area: columna2;}
