*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor
{
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 'menulat encabezado encabezado'
                         'menulat columna1 columna2'
                         'menulat piepagina piepagina';
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
}

.caja
{
    background-color: purple;
    text-align: center;
    align-content: center;
    align-items: center;
    border: 2px solid black;
}

@media screen and (max-width:900px) {
    .contenedor
    {
        grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 'encabezado encabezado'
                         'menulat columna1'
                         'menulat columna2'
                         'piepagina piepagina';
    }
}

#caja1 {grid-area: menulat;}
#caja2{ grid-area: encabezado;}
#caja3 {grid-area: columna1;}
#caja4{grid-area: columna2;}
#caja5 {grid-area: piepagina;}